.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #F6F2F2;
}

*{
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 23px;
}

/*------- SideBar Code --------*/
.Sidebar {
  height: 100%;
  width: 223px;
  background-color: #fff;
}

.SidebarList{
  height: 100%;
  padding: 0;
  width: 223px;
  margin-top: auto;
}

.SidebarList .row{
  width: 220px;
  height: 45px;
  position: relative;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 25px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  color: black;
  font-family: 'Open Sans';
}
.SidebarList .logout {
  position: absolute;
  bottom: 0;
  font-family: 'Open Sans';
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: #a8ddf5;
  border-radius: 10px;
}

.SidebarList #active{
  background-color: #a8ddf5;
  border-radius: 10px;
}
.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title{
  flex: 70%;
}
.logo {
  display: flex; /* Use flexbox to arrange items horizontally */
  align-items: center; /* Center items vertically */
  margin-bottom: 110px;
}

.logo img {
  width: 50px; /* Adjust image width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add margin between logo and text */
}

.logo h1 {
  margin: 0; 
  font-size: 32px; 
  font-family: 'Open Sans';
}
/*------- SideBar Code --------*/
/*
/*------- TopBar Code --------*/
.Topbar {
  top: 20px;
  right: 25px;
  width: calc(100% - (0.2*223px)); /* Adjust width to leave space for sidebar */
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 0 20px;
  z-index: 1000; /* Ensure it's above other content */
  font-family: 'Open Sans';
}

.Topbar .separator {
  height: 24px; /* Adjust height of the separator */
  width: 1px; /* Adjust width of the separator */
  background-color: #ddd; /* Color of the separator */
  margin-right: 10px; /* Add margin between separator and profile */
}

.Topbar .left span {
  margin-right: 20px; /* Add margin between Home and notification icon */
}

.Topbar .right {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.Topbar .right .notification {
  margin-right: 10px; /* Add margin between notification icon and separator */
}

.Topbar .right .profile {
  display: flex;
  align-items: center;
}

.Topbar .right .profile .profile-info {
  display: flex;
  flex-direction: column;
}

.Topbar .right .profile .profile-info .larger-span {
  font-weight: bold;
  font-size: 15px; /* Adjust font size as needed */
  margin-left: 10px;
}

.Topbar .right .profile .profile-info .smaller-span {
  font-size: 13px;
  margin-left: 11px;
  color: #888; /* Grey color */
}
/*--------Dashboard Component DESIGN---------*/
/*
/*
/*--------Dashboard Component DESIGN---------*/
/* CSS for the Dashboard component */
.Dashboard {
  margin-top: 18px;
  margin-left: 5px;
  font-family: 'Open Sans';
}

.Dashboard .hey-section {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.Dashboard .grey-text {
  color: #888; /* Grey color */
  margin-top: 5px;
}

.Dashboard h2{
  margin-top: 10px;
}
/*---------Component DESIGN--------*/
/*
/*---------Component DESIGN--------*/
.program-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 392px;
  border-radius: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: #fff;
  margin-top: 30px;
}

.program-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
}

.circled-picture {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(75%, -100%);
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.circled-picture img {
  width: 64px;
  height: 68px;
  object-fit: cover;
  border-radius: 50%;
}

.program-details {
  flex: 1;
  display: flex;
  padding: 23px;
}

.program-details h3 {
  color: #a19e9e;
  font-size: 16px;
  font-weight: 500;
}
.program-details p {
  margin: 8px 0; /* Adjust spacing between paragraphs */
  font-size: 14px;
  font-weight: bold;
}
.apply-button {
  position: absolute; /* Set absolute positioning */
  bottom: 10px; /* Adjust bottom spacing */
  right: 10px; /* Adjust right spacing */
  border: none;
  border-radius: 12px;
  background-color: #37C0ED;
  color: white;
  padding: 10px 105px;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 17px;
  margin-right: 5px;
}

.apply-button:hover {
  background-color: #2aa7d7; /* Change color on hover if desired */
}
/*---------Progress--------*/
/*
/*
/*---------Progress--------*/

.Progress {
  margin-top: 18px;
  margin-left: 5px;
  font-family: 'Open Sans';
}

.Progress .Progress-Title {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 800;
}

.Progress .grey-text {
  color: #888; /* Grey color */
  margin-top: 5px;
}

.Progress h2{
  margin-top: 10px;
}

.finish-button {
  position: absolute; /* Set absolute positioning */
  bottom: 10px; /* Adjust bottom spacing */
  right: 10px; /* Adjust right spacing */
  border: none;
  border-radius: 12px;
  background-color: #37C0ED;
  color: white;
  padding: 10px 45px;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 17px;
  margin-right: 170px;
}

.finish-button:hover {
  background-color: #2aa7d7; /* Change color on hover if desired */
}
.update-button {
  position: absolute; /* Set absolute positioning */
  bottom: 10px; /* Adjust bottom spacing */
  right: 10px; /* Adjust right spacing */
  border-color: #99D931;
  border-radius: 12px;
  background-color: white;
  color: #99D931;
  padding: 8.5px 35px;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 17px;
  margin-right: 0px;
}
/*--------UPDATE POPUP--------*/
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; /* Ensure it's above other content */
}
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.popup-content h2 {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.popup-content label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.popup-content input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.popup-content button {
  display: flex;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
}

.popup-content button:first-child {
  background-color: #37C0ED; /* Apply button color */
  color: #fff;
}

.popup-content button:last-child {
  background-color: #ccc; /* Cancel button color */
  color: #333;
}

.finish-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-content {
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.yes-button,
.cancel-button {
  padding: 10px 20px;
  border-color:#d32f2f;
  border-radius: 5px;
  cursor: pointer;
}

.yes-button {
  border: none;
  background-color: #37c0ed;
  color: #fff;
}

.cancel-button {
  background-color: transparent;
  color: #d32f2f;
}
.review-button {
  position: absolute; /* Set absolute positioning */
  bottom: 10px; /* Adjust bottom spacing */
  right: 10px; /* Adjust right spacing */
  border: none;
  border-radius: 12px;
  background-color: #37C0ED;
  color: white;
  padding: 10px 65px;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 17px;
  margin-right: 45px;
}
.review-button:hover {
  background-color: #2aa7d7; /* Change color on hover if desired */
}
/*-------REVIEW POPUP------*/
.review-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.review-textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  border-radius: 5px;
}
.review-textarea::placeholder {
  text-align: center;
  line-height: inherit; /* Ensures vertical alignment */
  vertical-align: middle; /* Centers vertically */
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
